DATABASE_URL_DEV=
DATABASE_URL=

DIRECT_URL_DEV=
DIRECT_URL=
PORT=3333
CORS_ORIGIN="http://localhost:5174"
OMIE_APP_KEY="3830837835825"
OMIE_APP_SECRET="fa30baf859eaf8a1f0b1e7b209013775"
OMIE_BASE_URL="https://app.omie.com.br/api/v1/"
ENABLE_STOCK_REFRESH_JOB=false
STOCK_REFRESH_CRON=*/30 * * * *
ENABLE_OMIE_PRODUCT_SYNC_JOB=false
OMIE_PRODUCT_SYNC_CRON=0 */12 * * *
OMIE_ORDERS_STAGE_SYNC=true
OMIE_ORDERS_STAGE20_CRON=*/30 * * * *
ENABLE_OMIE_CLIENT_SYNC_JOB=true
OMIE_CLIENT_SYNC_CRON=0 */12 * * *
OMIE_ORDERS_STAGE_SYNC_ON_STARTUP=true
ENABLE_OMIE_PRODUCT_STRUCTURE_SYNC_JOB=false
OMIE_PRODUCT_STRUCTURE_SYNC_CRON=0 */12 * * *
OMIE_STAGE20_SYNC_ENABLED=true
#Valores possiveis: fake, real
PRODUCTION_ORDER_GATEWAY=real
ENABLE_OMIE_PRODUCTION_ORDERS_SYNC_JOB=true
# product-structure integration
PRODUCT_STRUCTURE_GATEWAY=fake

PRODUCT_CATALOG_GATEWAY=real
ENABLE_OMIE_PRODUCT_CATALOG_SYNC_JOB=true
OMIE_ORDERS_STAGE_SYNC=real\

# ✅ HABILITA O JOB DE REFRESH DO READ-MODEL
ENABLE_OMIE_PRODUCT_CATALOG_PRODUCTION_READY_REFRESH_JOB=true

# ✅ CRON DO REFRESH DO READ-MODEL
OMIE_PRODUCT_CATALOG_PRODUCTION_READY_REFRESH_CRON=30 */10 * * * *

FORCE_PRODUCTION_READY_REFRESH_ON_SYNC=true

